@model Core.DTO.AgendaDTO

@{
    ViewData["Title"] = "Remover Agenda";
    Layout = ViewData["Layout"]?.ToString();
}

<h3>Tem certeza que deseja remover?</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Termino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Termino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Servico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Servico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumVagas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumVagas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumAgendado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumAgendado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumDis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumDis)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Remover" class="br-button danger" /> |
        <a class="br-button" asp-action="Index">Voltar</a>
    </form>
</div>

@section Css {
        <link rel="stylesheet" href="~/css/footer.css" />
    }