@model AgendeMeWeb.Models.DiaAgendamentoViewModel

@{
    ViewData["Title"] = "Detalhes Agenda";
    Layout = ViewData["Layout"]?.ToString();
}

<div>
    <h4>DiaAgendamentoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaSemana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaSemana)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VagasAtendimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VagasAtendimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VagasAgendadas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VagasAgendadas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VagasRetorno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VagasRetorno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VagasAgendadasRetorno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VagasAgendadasRetorno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdServicoPublico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdServicoPublico)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
