@model IEnumerable<Core.DTO.AgendaDTO>

@{
    ViewData["Title"] = "Agendas";
    Layout = ViewData["Layout"]?.ToString();
}

<h2>Agendas</h2>
<p>
    <a class="br-link" asp-action="Create">Cadastrar Agenda</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Termino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumVagas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumAgendado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumDis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Termino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumVagas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumAgendado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumDis)
            </td>
            <td>
                @Html.ActionLink("Alterar", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Remover", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
