@model IEnumerable<Core.DTO.CidadaoDTO>

@{
    ViewData["Title"] = "Informações de cidadão";
}

@foreach (var item in Model)
{
    <h1 class="fw-bold fs-3">@item.Nome</h1>

    <div>
        <h4 class="fs-5 fw-normal">Essas são suas informações de cadastro</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-10">
                @item.Nome
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cpf)
            </dt>
            <dd class="col-sm-10">
                @item.Cpf
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DataNascimento)
            </dt>
            <dd class="col-sm-10">
                @item.DataNascimento
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Sexo)
            </dt>
            <dd class="col-sm-10">
                @item.Sexo
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Sus)
            </dt>
            <dd class="col-sm-10">
                @item.Sus
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Telefone)
            </dt>
            <dd class="col-sm-10">
                @item.Telefone
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @item.Email
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cep)
            </dt>
            <dd class="col-sm-10">
                @item.Cep
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class="col-sm-10">
                @item.Estado
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cidade)
            </dt>
            <dd class="col-sm-10">
                @item.Cidade
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Bairro)
            </dt>
            <dd class="col-sm-10">
                @item.Bairro
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Rua)
            </dt>
            <dd class="col-sm-10">
                @item.Rua
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NumeroCasa)
            </dt>
            <dd class="col-sm-10">
                @item.NumeroCasa
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Complemento)
            </dt>
            <dd class="col-sm-10">
                @if (item.Complemento == null)
                {
                    <span>Não informado</span>
                }
                else
                    @item.Complemento



                </dd>
            </dl>
        </div>
    <div>
        <a class="back-none" asp-controller="Cidadao" asp-action="Edit" asp-route-id="@item.Id">
            <button class="br-button secondary mr-3" type="button">
                Editar
            </button>
        </a>
        <button class="br-button" type="button">
            <a class="back-none" asp-action="Index">Voltar para lista</a>
        </button>
    </div>
}
