@model IEnumerable<Core.DTO.CidadaoListDTO>

@{
    ViewData["Title"] = "Cidadãos Cadastrados";
}

<h1>Cidadãos</h1>

<p>
    <a asp-action="Create">Cadastrar novo cidadão</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.TipoCidadao)
            </th>
            <th class="text-center">
                Editar
            </th>
            <th class="text-center">
                Remover
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.TipoCidadao)
            </td>
            <td class="text-center">
                <a asp-controller="Cidadao" asp-action="Edit" asp-route-id="@item.Id">
                    <i class="far fa-edit"></i>
                </a>
            </td>
            <td class="text-center">
                <a asp-controller="Cidadao" asp-action="Delete" asp-route-id="@item.Id">
                    <i class="far fa-times-circle"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
