@model IEnumerable<AgendeMeWeb.Models.CargoViewModel>

@{
    ViewData["Title"] = "Cargos";
}

<h1>Cargos</h1>

<p>
    <a asp-action="Create">Cadastrar novo cargo</a>
</p>
<table>
    <thead>
        <tr>
            <th class="border-solid-sm text-center text-up-01" scope="col">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th class="border-solid-sm text-center text-up-01" scope="col">
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th class="border-solid-sm text-center text-up-01" colspan="1" scope="col">
                Editar
            </th>
            <th class="border-solid-sm text-center text-up-01" colspan="1" scope="col">
                Remover
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td class="text-center">
                @Html.ActionLink("Editar", "Edit", new { id=item.Id })
            </td>
            <td class="text-center">
                @Html.ActionLink("Remover", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
