@model Core.DTO.ConfirmarAgendamentoDTO

<div class="mb-4 pb-4">
    <i class="azul-agende-me icone-botao-box mt-4 w-100 d-block mx-auto fas fa-building text-center"></i>
    <h2 class="text-center fw-bold azul-text">@Model.OrgaoPublico</h2>
</div>

<h1 class="mt-5 fw-bold fs-2">Confira o seu agendamento</h1>
<h4 class="mb-5 fw-light fs-4">
    Seu agendamento já está quase realizado
</h4>

<div class="card-content">
    <div class="d-flex flex-column align-items-center">
        <div class="border border-2 p-3">
            <p class="text-break text-wrap user-select-none fs-5">
                <span class="fw-bold">@Html.DisplayNameFor(model => model.NomeServico):</span> @Html.DisplayFor(model => model.NomeServico)
            </p>
            <p class="text-break text-wrap user-select-none fs-5 mt-2">
                <span class="fw-bold">@Html.DisplayNameFor(model => model.OrgaoPublico):</span>
                @Html.DisplayFor(model => model.OrgaoPublico)
            </p>
            <p class="text-break text-wrap user-select-none fs-5 mt-2">
                <span class="fw-bold">@Html.DisplayNameFor(model => model.Bairro):</span> @Model.Bairro
            </p>
            <p class="text-break text-wrap user-select-none fs-5 mt-2">
                <span class="fw-bold">@Html.DisplayNameFor(model => model.Rua):</span> @Model.Rua
            </p>
            <p class="text-break text-wrap user-select-none fs-5 mt-2">
                <span class="fw-bold">@Html.DisplayNameFor(model => model.Numero):</span> @Model.Numero
            </p>
            <p class="text-break text-wrap user-select-none fs-5 mt-2">
                <span class="fw-bold">@Html.DisplayNameFor(model => model.Complemento):</span> @Model.Complemento
            </p>
            <p class="text-break text-wrap user-select-none fs-5 mt-2">
                <span class="fw-bold">@Html.DisplayNameFor(model => model.Data):</span> @Model.Data.ToString("dd/MM/yyyy")
            </p>
            <p class="text-break text-wrap user-select-none fs-5 mt-2">
                <span class="fw-bold">@Html.DisplayNameFor(model => model.Horario):</span> @Model.Horario
            </p>
            <div class="d-flex flex-column align-items-center mt-2">
                <p class="text-break text-wrap user-select-none fs-5 m-0">
                    @Html.DisplayNameFor(model => model.DataCadastro)
                </p>
                <p class="text-break text-wrap user-select-none fs-5 m-0">
                   @Model.DataCadastro.ToString("dd/MM/yyyy")
                </p>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center mt-2" id="cpfBox">
            <div class="form-group">
                <label for="CPF" class="control-label">Digite o seu CPF</label>
                <input onfocus="cpfMask(this)" name="CPF" class="form-control" value="" id="CPF" maxlength="14"/>
            </div>
        @if (@ViewBag.erro != null)
        {
            <div class="mb-3">
                <span class="feedback danger" role="alert"><i class="fas fa-times-circle" aria-hidden="true"></i>@ViewBag.erro</span>
            </div> 
        }
            <button class="br-button primary mr-3 mt-2" type="button" onclick="getCidadao('@Url.Action("GetCidadao")',this)">
                Verificar CPF
            </button>
        </div>
        <div class="br-magic-button large mt-4">
            <form asp-action="ConfirmarAgendamento">
                <input type="hidden" name="id" value="" />
                <input type="hidden" name="idCidadao" value="" id="idCidadaoForm"/>
                <input type="hidden" name="idDiaAgendamento" value="@Model.Id" />
                <input type="hidden" name="dataCadastro" value="@Model.DataCadastro" />
                <input type="hidden" name="idRetorno" value="" />
                <input type="hidden" name="idAtendente" value="" />
                <button class="br-button" type="submit" onmouseover="verificaCidadao()">
                    Confirmar Agendamento
                </button>
            </form>
        </div>
    </div>
</div>