@model AgendeMeWeb.Models.AgendarServicoViewModel

@{
    ViewData["Title"] = "Cancelar agendamento";
}

<h1>Cancelar agendamento</h1>

<h3>Tem certeza que deseja cancelar?</h3>
<div>
    <h4>AgendarServicoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Situacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCidadao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCidadao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAtendente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAtendente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRetorno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRetorno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProfissional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProfissional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdServicoPublico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdServicoPublico)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Cancelar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para lista</a>
    </form>
</div>
