@model IEnumerable<Core.DTO.PrefeituraCidadeDTO>

@{
    ViewData["Title"] = "Agendar Serviço";
    Layout = "_LayoutCidadao";
}

<div class="br-breadcrumb">
    <ul class="crumb-list">
        <li class="crumb home">
            <a class="br-button circle breadcrumb-home" asp-controller="AgendarServico" asp-action="Index">
                <span class="sr-only">Página inicial</span><i class="fas fa-home"></i>
            </a>
        </li>
        <li class="crumb" data-active="active">
            <i class="icon fas fa-chevron-right"></i><span>Agendar Serviço</span>
        </li>
    </ul>
</div>

<div id="ajaxBox">
    <div class="mb-4 pb-4">
        <i class="fas fa-calendar azul-agende-me icone-botao-box mt-4 w-100 d-block mx-auto text-center" aria-hidden="true"></i>
        <h2 class="text-center fw-bold azul-text">Agendar Serviço</h2>
    </div>

    <h1 class="mt-5 text-center fw-bold fs-2">Prefeituras Disponíveis</h1>
    <h4 class="mb-5 text-center fw-light fs-4">Escolha o seu município</h4>

    <div class="d-flex flex-wrap mb-5 pb-5 d-flex-dinamic align-items-stretch flex-c-gap flex-r-gap">
    @if (Model.Any())
    {
        @foreach (var item in Model)
        {
            <div class="br-card hover box w-250">
                <a class="br-card hover mb-0 back-none" onclick="getAreas('@Url.Action("AreasDeServico")', @item.Id)">
                <div class="card-content">
                    <span class="azul-agende-me icone-botao-box mt-4 w-100 d-block mx-auto text-center text-bold">@Html.DisplayFor(modelItem => item.Icone)</span>
                    <p class="text-break text-wrap azul-text user-select-none fs-4 mt-4 mb-4 fw-bold text-center text-uppercase">@Html.DisplayFor(modelItem => item.Cidade)</p>
                </div>

            </a>
            </div>
        }

    }
    else
    {
        <div class="br-message warning" role="alert">
            <div class="icon">
                <i class="fas fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
            </div>
            <div class="content">
                <span class="message-title">Atenção.</span><span class="message-body">
                    Não há serviços públicos disponíveis para essa área. <br />
                    Por favor entre em contato com o gestor da prefeitura para mais informações.
                </span>
            </div>
            <div class="close">
                <button class="br-button circle small" type="button" aria-label="Fechar">
                    <i class="fas fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    }
    </div>
    <div class="mb-5 d-flex"></div>


    @* <div class="mx-auto pb-5">
        <select name="prefeitura" id="prefeitura" class="form-select" aria-label="Escolha prefeitura" onclick="removeErro(this)">
            <option value="" disabled selected>Selecione um município</option>
            @foreach (var item in Model)
            {
                <option value="@item.Id">@item.Cidade</option>
            }
        </select>
        <div class="d-none" id="erroSelectPrefeitura">
            <span class="feedback danger" role="alert">
                <i class="fas fa-times-circle" aria-hidden="true"></i>
                É necessário escolher um município!
            </span>
        </div>
        <button class="br-button primary mx-auto d-block mt-5 mb-5" type="button" onclick="getAreas('@Url.Action("AreasDeServico")',this)">
            Pesquisar Serviços
        </button>
    </div> *@
</div>

@section Scripts {
    <script src="~/js/agendar-servico.js"></script>
    <script src="~/js/mascaras.js"></script>
}

@section Css {
    <link rel="stylesheet" href="~/css/agendarServico.css" />
}