@model IEnumerable<AgendeMeWeb.Models.AreaDeServicoViewModel>

@{
    ViewData["Title"] = "Áreas Disponíveis";
}

<h1 class="text-center fw-normal">Áreas Disponíveis</h1>
<h4 class="text-center fw-light">Encontre o serviço desejado através das áreas</h4>

<div class="container">
    <div class="row">
        <div class="col-5">
            Column
        </div>
        <div class="col-5">
            Column
        </div>
        <div class="col-5">
            Column
        </div>
    </div>
</div>


<div class="d-flex justify-content-evenly col-lg">
    @foreach (var item in Model) {
        <div class="row">
            <div class="col-md">
                <div class="br-card hover">
                    <div class="card-content">
                        <i class="d-block mx-auto @Html.DisplayFor(modelItem => item.Icone) text-center"></i>
                        <p class="text-center">@Html.DisplayFor(modelItem => item.Nome)</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPrefeitura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPrefeitura)
            </td>
            <td>
                <i class="@Html.DisplayFor(modelItem => item.Icone)"></i>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
