@model IEnumerable<Core.DTO.AgendamentoDTO>

@{
    ViewData["Title"] = "Agendamentos";
    Layout = ViewData["Layout"]?.ToString();
}


<h1>Confira seus agendamentos</h1>

@if (Model.Any())
{
    @* <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Situacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataCadastro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdCidadao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdAtendente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdRetorno)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody> *@
            <div class="d-flex flex-wrap justify-content-lg-between justify-content-center gap-5">
                @foreach (var item in Model)
                {
                    <div class="col-lg-5 col-12">
                        <div class="br-card border-start rounded-start border-primary border-5">
                            <div class="card-header">
                                <div class="d-flex flex-column mb-2 gap-1">
                                    <div class="text-bold text-up-02">@item.NomeServico<span class="text-secondary ms-2">#@item.Id</span></div>
                                    <span class="fs-5 text-weight-semi-bold">@item.Situacao</span>
                                    <span class="fs-5">@item.Data.ToString("dd/MM/yyyy") de @item.Horario</span>
                                    <span class="fs-5"></span>
                                </div>
                            </div>
                            <div class="card-content fs-5">
                                <div>
                                    @item.OrgaoPublico
                                </div>
                                <div>
                                    @item.Rua, @item.Numero - @item.Bairro
                                </div>
                            </div>
                            <div class="card-footer pb-1">
                                <div class="my-1">Cadastro em - @item.DataCadastro.ToString("dd/MM/yyyy HH:MM")</div>
                            </div>
                        </div>
                    </div>
                    @* <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Situacao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataCadastro)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdCidadao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdAtendente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdRetorno)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new {  id=item.Id  }) |
                            @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
                            @Html.ActionLink("Remover", "Delete", new { id=item.Id }) |
                            @Html.ActionLink("Atender Cidadão", "AtenderCidadao", new { id=item.Id }) |
                            @Html.ActionLink("Agendar Retorno", "AgendarRetorno", new { id=item.Id })
                        </td>
                    </tr> *@
                }
            </div>
        @* </tbody>
    </table> *@
}
else {
    <div class="d-flex justify-content-center">
            <div class="br-message info" role="alert">
                <div class="icon">
                    <i class="fas fa-info-circle fa-lg" aria-hidden="true"></i>
                </div>
                <div class="content">
                    <span class="message-title">Informativo.</span>
                    <span class="message-body me-3">
                        Não há <span class="text-bold">agendamentos</span> cadastrados.
                        Para realizar um agendamento <a asp-controller="AgendarServico" asp-action="Index">clique aqui</a>
                    </span>
                </div>
            </div>
        </div>
    @section Css {
        <link rel="stylesheet" href="~/css/footer.css" />
    }
}