@model Core.DTO.AgendamentoPage

@{
    ViewData["Title"] = "Agendamentos";
    Layout = ViewData["Layout"]?.ToString();

    var CorStatus = new Dictionary<string, string> 
    {
        {"Agendado","primary"}, 
        {"Atendido","success"},
        {"Aguardando Atendimento","warning"},
        {"Cancelado", "danger"}
    };
}


<h1 class="fs-2 my-4">Confira seus agendamentos</h1>

@if (Model.Agendamentos != null && Model.Agendamentos.Any())
{
    <div class="d-flex flex-wrap justify-content-lg-between justify-content-center gap-5">
        @foreach (var item in Model.Agendamentos)
        {
            <div class="col-lg-5 col-12">
                <div class="br-card border-start rounded-start border-@CorStatus[item.Situacao ?? ""] border-5">
                    <div class="card-header bg-white">
                        <div class="d-flex flex-column mb-2 gap-1">
                            <div class="text-bold text-up-02">@item.NomeServico<span class="text-secondary ms-2">#@item.Id</span></div>
                            <span class="fs-5 text-weight-semi-bold">@item.Situacao</span>
                            <span class="fs-5">@item.Data.ToString("dd/MM/yyyy") de @item.Horario</span>
                            <span class="fs-5"></span>
                        </div>
                    </div>
                    <div class="card-content fs-5">
                        <div>
                            @item.OrgaoPublico
                        </div>
                        <div>
                            @item.Rua, @item.Numero - @item.Bairro, @item.Cep, @item.Cidade
                        </div>
                    </div>
                    <div class="card-footer bg-white pb-1">
                        <div class="my-1">Cadastro em - @item.DataCadastro.ToString("dd/MM/yyyy HH:MM")</div>
                    </div>
                </div>
            </div>
        }
    </div>
    @if(Model.Agendamentos.Count() > 4)
    {
        <nav class="br-pagination large my-6 py-1" aria-label="Paginação de resultados" data-total="5" data-current="1">
            <ul>
                <li>
                    <a class="br-button circle" asp-controller="AgendarServico" asp-action="List" asp-route-id="@(ViewBag.Page == 1 ? 1 : ViewBag.Page - 1)" role="button" data-previous-page="data-previous-page" aria-label="Página anterior">
                        <i class="fas fa-angle-left" aria-hidden="true"></i>
                    </a>
                </li>
                    @for (int i = 1; i <= Model.PageSize; i++) 
                    {
                        <li>
                            <a class="page @(i == ViewBag.Page ? "active" : "")" asp-controller="AgendarServico" asp-action="List" asp-route-id="@i">@i</a>
                        </li>
                    }
                <li>
                    <a class="br-button circle" asp-controller="AgendarServico" asp-action="List" asp-route-id="@(ViewBag.Page == Model.PageSize ? Model.PageSize : ViewBag.Page + 1)" role="button" data-next-page="data-next-page" aria-label="Página seguinte">
                        <i class="fas fa-angle-right" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </nav>
    }
    else 
    {
        @section Css {
        <link rel="stylesheet" href="~/css/footer.css" />
        }
    }
}
else {
    <div class="d-flex justify-content-center">
            <div class="br-message info" role="alert">
                <div class="icon">
                    <i class="fas fa-info-circle fa-lg" aria-hidden="true"></i>
                </div>
                <div class="content">
                    <span class="message-title">Informativo.</span>
                    <span class="message-body me-3">
                        Não há <span class="message-title">agendamentos</span> cadastrados.
                        Para realizar um agendamento <a asp-controller="AgendarServico" asp-action="Index">clique aqui</a>
                    </span>
                </div>
            </div>
        </div>
    @section Css {
        <link rel="stylesheet" href="~/css/footer.css" />
    }
}