@model IEnumerable<AgendeMeWeb.Models.OrgaoPublicoViewModel>

<div class="mb-4 pb-4">
    <i class="azul-agende-me icone-botao-box mt-4 w-100 d-block mx-auto @ViewBag.iconeServicoPublico text-center"></i>
    <h2 class="text-center fw-bold azul-text">@ViewBag.nomeServicoPublico</h2>
</div>

<h1 class="mt-5 fw-bold fs-2">Escolha o local desejado</h1>
<h4 class="mb-5 fw-light fs-4">O serviço <span class="fw-bold">@ViewBag.nomeServicoPublico</span> está disponível nestes locais</h4>

<div class="d-flex flex-column mb-5 pb-5 align-items-stretch flex-c-gap">
    @if (Model.Any())
        @foreach (var item in Model)
        {
            <div class="br-card hover">
                <a class="br-card hover mb-0 back-none" asp-controller="AgendarServico" asp-action="Edit" asp-route-id="@item.Id" target="_blank">
                    <div class="card-content d-flex flex-wrap align-items-center dinamic-flex">
                        <i class="azul-agende-me icone-botao-box fas fa-building text-center dinamic-margin"></i>
                        <div>
                            <p class="text-break text-wrap user-select-none fs-4 mt-4 mb-4 fw-bold text-center">@Html.DisplayFor(modelItem => item.Nome)</p>
                        </div>
                    </div>
                </a>
            </div>

        }       else
    {
        <div class="br-message warning" role="alert">
            <div class="icon">
                <i class="fas fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
            </div>
            <div class="content">
                <span class="message-title">Atenção.</span><span class="message-body">
                    Não há serviços públicos disponíveis para essa área. <br />
                    Por favor entre em contato com o gestor da prefeitura para mais informações.
                </span>
            </div>
            <div class="close">
                <button class="br-button circle small" type="button" aria-label="Fechar">
                    <i class="fas fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    }
</div>
