@model IEnumerable<Core.DTO.ServicoPublicoDTO>

<div class="mb-4 pb-4">
    <i class="azul-agende-me icone-botao-box mt-4 w-100 d-block mx-auto @ViewBag.iconeAreaDeServico text-center"></i>
    <h2 class="text-center fw-bold azul-text">@ViewBag.nomeAreaDeServico</h2>
</div>

<h1 class="mt-5 text-center fw-bold fs-2">Serviços Disponíveis</h1>
<h4 class="mb-5 text-center fw-light fs-4">Escolha o serviço desejado</h4>
    @if (Model.Any())
    {
        <div class="d-flex flex-wrap pb-5 d-flex-dinamic align-items-stretch flex-c-gap flex-r-gap">
        @foreach (var item in Model)
        {
            <div class="br-card agendamento-card box w-250">
                <a class="br-card agendamento-card mb-0 back-none" onclick="getOrgaos('@ViewBag.idArea','@Url.Action("OrgaosPublicos")','@item.Nome', '@item.Icone')">
                <div class="card-content">
                    <i class="azul-agende-me icone-botao-box mt-4 w-100 d-block mx-auto @Html.DisplayFor(modelItem => item.Icone) text-center"></i>
                    <p class="text-break text-wrap azul-text user-select-none fs-4 mt-4 mb-4 fw-bold text-center text-uppercase">@Html.DisplayFor(modelItem => item.Nome)</p>
                </div>
                </a>
            </div>
        }
        </div>
    }
    else
    {
        <div class="d-flex justify-content-center">
            <div class="br-message warning" role="alert">
                <div class="icon">
                    <i class="fas fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
                </div>
                <div class="content">
                    <span class="message-title">Atenção.</span><span class="message-body">
                        Não há serviços públicos disponíveis para essa área. <br />
                        Por favor entre em contato com o gestor da prefeitura para mais informações.
                    </span>
                </div>
            </div>
        </div>
    }
<div class="d-flex justify-content-center">
    <button class="br-button primary large m-5 col-lg-3 col-md-4 col-8" type="button" onclick="voltarArea('@Url.Action("AreasDeServico")', @ViewBag.idPrefeitura)">
        Voltar
    </button>
</div>