@model AgendeMeWeb.Models.ProfissionalViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProfissionalViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCargo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProfissional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProfissional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPrefeitura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPrefeitura)
        </dd>
    </dl>
    
    <form asp-action="DeleteProfissional">
        <input type="hidden" name="idCargo" value="@Model.IdCargo" />
        <input type="hidden" name="idProfissional" value="@Model.IdProfissional" />
        <input type="hidden" name="idPrefeitura" value="@Model.IdPrefeitura" />
        <input type="submit" value="Remover" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
