@model IEnumerable<Core.DTO.ProfissionalDTO>

<p>
    <a asp-action="AddProfissional">Cadastrar um novo profissional</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeProfissional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeCargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomePrefeitura)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProfissional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomePrefeitura)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { IdProfissional=item.IdProfissional, nomeCargo = item.NomeCargo, nomePrefeitura = item.NomePrefeitura }) |
                @Html.ActionLink("Detalhes", "Details", new { IdProfissional=item.IdProfissional, nomeCargo = item.NomeCargo, nomePrefeitura = item.NomePrefeitura }) |
                @Html.ActionLink("Remover", "Delete", new { IdProfissional=item.IdProfissional, nomeCargo = item.NomeCargo, nomePrefeitura = item.NomePrefeitura })
            </td>
        </tr>
}
    </tbody>
</table>
