@model IEnumerable<Core.DTO.AgendadoservicoDTO>

@{
    ViewData["Title"] = "Agenda de serviços";
}

<h1>
    <strong>Agenda de serviços</strong>
</h1>

<h6>Agenda de serviços cadastradas</h6>

<p>
    <a asp-action="Create" class="br-button primary mr-3">Cadastrar nova agenda de serviço</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeDoServicoPublico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaSemana)
            </th>
            <th>
                Horário
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeDoProfissional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VagasAtendimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VagasRetorno)
            </th>
            <th>
                Editar
            </th>
            <th>
                Remover
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDoServicoPublico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaSemana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioInicio) às 
                @Html.DisplayFor(modelItem => item.HorarioFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDoProfissional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VagasAtendimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VagasRetorno)
            </td>
            <td>
                 <i class="fas fa-edit">
                     @Html.ActionLink("", "Edit", new { id=item.Id })
                 </i>
            </td>
            <td>
                <i class="fas fa-times-circle">
                    @Html.ActionLink("", "Delete", new { id=item.Id })
                </i>
                
            </td>
        </tr>
}
    </tbody>
</table>
