@model IEnumerable<Core.DTO.AgendadoservicoDTO>

@{
    ViewData["Title"] = "Agenda de serviços";
}

<h1>
    Agenda de serviços
</h1>

<div id="novaAgenda">
    <h6>Agenda de serviços cadastradas</h6>

    <p>
        <a asp-action="Create" class="br-button primary mr-3">Cadastrar nova agenda de serviço</a>
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeDoServicoPublico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaSemana)
            </th>
            <th>
                Horário
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeDoProfissional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VagasAtendimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VagasRetorno)
            </th>
            <th>
                Editar
            </th>
            <th>
                Remover
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDoServicoPublico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaSemana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioInicio) às 
                @Html.DisplayFor(modelItem => item.HorarioFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDoProfissional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VagasAtendimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VagasRetorno)
            </td>
            <td>
                 <a asp-action="Edit" asp-route-id="@item.Id">
                     <i class="fas fa-edit"></i>
                 </a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">
                    <i class="fas fa-times-circle" id="iconeRemover"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
