@model IEnumerable<AgendeMeWeb.Models.AgendaDoServicoViewModel>

@{
    ViewData["Title"] = "Agenda de serviços";
}

<h1>Agenda de serviços</h1>

<p>
    <button>
        <a asp-action="Create">Cadastrar nova agenda de serviço</a>
    </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaSemana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorarioInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorarioFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VagasAtendimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VagasRetorno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdServicoPublico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProfissional)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaSemana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VagasAtendimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VagasRetorno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdServicoPublico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProfissional)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
                @Html.ActionLink("Remover", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
