@model IEnumerable<AgendeMeWeb.Models.AreaDeServicoViewModel>

@{
    ViewData["Title"] = "Área de Serviço";
}

<h1>Área de Serviço</h1>

<p>
    <a asp-action="Create">Cadastrar nova área de serviço</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPrefeitura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @{ if(Model != null)
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdPrefeitura)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Icone)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
                        @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
                        @Html.ActionLink("Remover", "Delete", new { id=item.Id })
                    </td>
                </tr>
        }
    }
    </tbody>
</table>
