@model IEnumerable<AgendeMeWeb.Models.OrgaoPublicoViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = ViewData["Layout"]?.ToString();
}

<h1>Órgãos Públicos</h1>

<p>
    <a asp-action="Create">Criar novo órgão Público</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complemento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraAbre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraFecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPrefeitura)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complemento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraAbre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraFecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPrefeitura)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.Id}) |
                @Html.ActionLink("Detalhes", "Details", new { id=item.Id}) |
                @Html.ActionLink("Deletar", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
