@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="fw-bold fs-3 mt-4">Cadastro de Cidadão</h1>

<h4 class="fs-5 fw-normal">Com uma conta agende-me você tem acesso a diversos serviços de agendamento</h4>
<hr />

<div class="row">
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3 w-75">
                    <label asp-for="Input.Email" class="control-label"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group mb-3 w-50">
                    <label asp-for="Input.Password" class="control-label"></label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            <div class="form-group mb-3 w-50">
                    <label asp-for="Input.ConfirmPassword" class="control-label"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
        </div>
        <div id="cidadaoForm">
        </div>
        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
    </form>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_Scripts" />
    <script src="~/js/cidadao.js"></script>
}
