@model IEnumerable<AgendeMeWeb.Models.ServicoPublicoViewModel>

@{
    ViewData["Title"] = "Serviços Públicos";
}

<h1>Serviços Públicos</h1>

<p>
    <a asp-action="Create">Cadastrar novo serviço público</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdOrgaoPublico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @{ if(Model != null)
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdArea)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdOrgaoPublico)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Icone)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
                        @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
                        @Html.ActionLink("Remover", "Delete", new { id=item.Id })
                    </td>
                </tr>
    }
}
    </tbody>
</table>
